body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  background: #000;
  font-family: sf mono, menlo, monospace;
  color: #eee;
}

h1 {
  color: #eee;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}

small {
  margin-bottom: 4px;
}

img.pikachu {
  margin-top: 16px;
}

.pikachu-counter {
  margin-top: 12px;
  font-size: 1.1rem;
  color: #00adb5;
  font-weight: bold;
}
